<!-- app/views/dashboard/show.html.erb -->

<h2>Welcome, <%= @name %></h2>
<p>This page could serve has the landing page for all users. If the person who is logged in is not yet represented in the database, then a "verify info" type of template will be shown. Else, the page could be a menu for the system or perhaps even show some basic details like points.</p>
