<% flash.each do |type, msg| %>

  <% if (type == "notice") %>
    <div class="alert alert-success">
      <%= msg %>
  	</div>
  <% elsif (type == "alert") %>
  	<div class="alert alert-danger">
      <%= msg %>
  	</div>
  <% end %>
<% end %>

<h2>Welcome!</h2>
<h4>About this System</h4>
<p>This system is a point tracker for BMES.</p>
<p>Login to view your stats.</p>
