<h3>About</h3>
<h5>Frequently Asked Questions (FAQ)</h5>
<ul>
  <li>
    <span>How do I transfer member points between semesters?</span>
    <ul>
      <li>You go to <%= link_to("Manual Points", manual_points_path, :class => "back-link") %> and then click the button at the bottom called "Transfer Points Between Semesters". You can set up to how many points you want to transfer per person, but the default is 25. You then select the two semesters between which you want to transfer the points. The transfer happens for all members with points and also ensures that duplicate transfers do not occur.</li>
    </ul>
  </li>
  <li>
    <span>What's the difference between Events and Upcoming Events?</span>
    <ul>
      <li>Events is for Admins to control the events and to look behind the scenes. Upcoming Events is visible to members and they are only able to see events that are not hidden.</li>
    </ul>
  </li>
  <li>
    <span>What is an accomplishment?</span>
    <ul>
      <li>Accomplishments are things that members can earn, and they are different from Manual Points because an accomplishment can be "earned" by multiple different members. Dues is an example of an accomplishment, as are most items sold by the club. Accomplishments should have a negative point value to illustrate the fact that they <i>cost</i> members points. If there were ever a way for multiple members to earn points doing the same thing and that thing is not attending a meeting, you would create an accomplishment for it.</li>
    </ul>
  </li>
  <li>
    <span>What is an Admin vs Exective Admin?</span>
    <ul>
      <li>The only executive admin is the MemberTrackerBMES@gmail.com. They can create and select the other admins. Guard the account credentials carefully and they must be passed from one leadership team to another upon graduation.</li>
    </ul>
  </li>
  <li>
    <span>Why can't the users see most things on the site?</span>
    <ul>
      <li>The admins must grant an accomplishment with the property "dues" to a member for them to be considered dues paid. Then the member can access information like their point breakdowns etc. Members have significantly fewer options than Admins as Admins can control most of the settings to suit their needs. Users do not need this level of control.</li>
    </ul>
  </li>
</ul>
