// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-primary {
    background-color: #590000; 
    border-color: #590000
}
.back-link {
    color: #590000;  
}

.fa-info-circle {
    color: #590000;
}

.fa-edit {
    color: #590000;
}

.fa-trash {
    color: #590000;
}

.fa-clock-o {
    color: #590000
}
.btn-success {
    background-color: #228B22;
    border-color: #228B22;
}

.btn-danger {
    background-color: #B22222;
    border-color: #B22222;
}